{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}部门信息{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
<div class="form-group">
    <label> 部门编号 </label>
    <p class="form-control-static"> {{ g.department_id }}</p>
</div>
<div class="form-group">
    <label> 部门名称 </label>
    {% if g.user_level == "admin" %}
    <input type="text" name="department_name" value="{{ g.department_name }}" class="form-control" requied />
    {% else %}
    <input type="text" name="department_name" value="{{ g.department_name }}" class="form-control" disabled />
    {% endif %}
</div>
<div class="form-group">
    <label> 部门经理 </label>
    {% if g.user_level == "admin" %}
    <select name="manager" class="form-control" requied>
    {% else %}
    <select name="manager" class="form-control" disabled>
    {% endif %}
    {% for manager in g.manager_list %}
        {% if g.department_manager_id == manager.id %}
        <option value="{{ manager.id }}" selected> {{ manager.name }} </option>
        {% else %}
        <option value="{{ manager.id }}"> {{ manager.name }} </option>
        {% endif %}
    {% endfor %}
    </select>
</div>
<div class="form-group" >
    <label>部门描述</label>
    <textarea name="description" class="form-control" required>
    {{ g.department_description }}
    </textarea>
</div>

<div class="col-sm-1">
    <button type="submit" class="btn btn-primary">修改</button>
</div>
<div class="col-sm-1">
<a href="{{ url_for('main.remove_department', department_id=g.department_id) }}" class="btn btn-danger"> 删除部门 </a>
</div>
{% if msg %}
<div class="alert alert-danger">{{ msg }}</div>
{% endif %}
</form>
<br/>
{% endblock %}