{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}主页{% endblock %}</h1>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='employee_display.js') }}"></script>
{% endblock %}

{% block content %}
<h2>员工展示框</h2>
{% if g.user_level == 'admin' or g.user_level == 'manager' %}
    <div id="employee_selection" user_id='{{ g.user_id }}' users='{{ g.reachable_users }}' ></div>
{% endif %}
<div id="employee_display" employee_id="{{ g.user_id }}"></div>

{% endblock %}