{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}主页{% endblock %}</h1>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='employee_display.js') }}"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
    <div id="employee_display_div">
    {% if g.user_type == 'admin' or g.user_type == 'manager' %}
        <div id="employee_selection" user_id='{{ g.user_id }}' users='{{ g.reachable_users }}' ></div>
    {% endif %}
    <div id="employee_display" employee_id="{{ g.user_id }}"></div>
    </div>
    <div id="operation_div">
        <ul class="links">
            <li>
            {% if g.work_status == 'out' %}
            <a href="{{ url_for('main.check_in') }}"> 到岗 </a>
            {% else %}
            <a href="{{ url_for('main.check_out') }}"> 离岗 </a>
            {% endif %}
            </li>
            <li>
            <a href="{{ url_for('main.leave')}}"> 请假 </a>
            </li>
            <li><a href="{{ url_for('main.info_update')}}">修改自身信息</a></li>
            {% if g.user_type == 'manager' or g.user_type == 'admin' %}
            <li><a href="{{ url_for('main.leave_review') }}">请假审核</a></li>
            <li><a href="{{ url_for('main.salary_dispense') }}">工资发放</a></li>
            <li><a href="{{ url_for('main.employee_modify')}}">修改员工信息</a></li>
            {% endif %}
            {% if g.user_type == 'admin' %}
            <li> 部门列表：<br /> <ul>
                {% for department in g.department_list %}
                <li><a href="{{ url_for('main.department', department_id=department.id) }}">{{ deparment.name }}</a></li>
                {% endfor %}
            </ul> </li>
            <li><a href="{{ url_for('main.add_department') }}">添加部门</a></li>
            {% else %}
            <li><a href="{{ url_for('main.department', department_id=g.department_id) }}">部门信息</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}