{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}请假{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
<div class="form-group">
    <label> 请假开始时间 </label>
    <input type="date" name="leave_begin" class="form-control" required />
</div>

<div class="form-group">
    <label> 请假结束时间 </label>
    <input type="date" name="leave_end" class="form-control" required />
</div>

<div class="form-group">
    <label> 请假原因 </label>
    <textarea name="leave_reason" class="form-control" required></textarea>
</div>

<button type="submit" class="btn btn-primary">提交</button>
</form>

{% endblock %}