{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}操作成功{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="message">
<dialog>
操作成功！
</dialog>
<a href="{{ url_for('main.home') }}">返回主页</a>
</div>
{% endblock %}