{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}操作成功{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('main.home') }}" class="btn btn-primary">返回主页</a>
{% endblock %}