{% extends 'base.html.j2' %}

{% block header %}
<h1>{% block title %}登录{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="form_div">
<form method="post">
<label> 用户名 </label>
<input type="text" name="username" required />
<label> 密码 </label>
<input type="password" name="password" required />
<input type="submit" value="登录" />
{% if error %}
<p>
    <span class="warning">{{ message }}</span>
</p>
{% endif %}
</form>
</div>
{% endblock %}